{% extends "./base.html" %}

{% block title %}Pacient{% endblock %}
{% block head-block %}{% endblock %}

{% block page-title %}Stranka pacienta{% endblock %}

{% block page-content %}
    <h2>
        Vitejte, {{ user.username }}
    </h2>
    <br>
    <b>
        Vase CovidPassy:<br>
        {% for covidpass in covidpasses %}
            {{ covidpass }}
        {% endfor %}
    </b>
    <br>
    <br>
    <br>
    <a href="">Ziskat novy CovidPass</a>
    <br>
    <br>
    <h2>Rezervace termínu</h2>
    <a href="/reservation">Rezervace</a>
    <br>
    <br>
    <br>
    <br>
{% endblock %}