{% extends "./base.html" %}

{% block title %}Rezervace terminu{% endblock %}
{% block head-block %}
 {% endblock %}

{% block page-title %}Rezervace terminu{% endblock %}

{% block page-content %}

    <form method="POST">
        {% csrf_token %}
        <table>
            {{form}}
        </table>
        <input type="submit" value="Rezervovat" class="button">
    </form>
<br>
<br>
    <b>Formát dátumu: DD.MM.YYYY HH:MM</b>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
{% endblock %}